<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">



      <a class="navbar-brand" href="/urls"><h2>TinyApp</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>


            </div>
        </div>
        <% if (!username) { %>
  
          <form class="form-inline" action="/login" method="POST">
                  <input class="form-control mr-sm-2" type="text" name="username" id="username" placeholder="Username" style="margin-right: 1em;">
  
                <button type="submit" class="btn btn-outline-dark my-2 my-sm-0">Login</button>
               
          </form>
          <% } else { %>
            <span class="navbar-text text-light" style="margin-right: 1em">
              Logged in as: <b><%= username %></b>
            </span>
              <form class="form-inline" action="/logout" method="POST">
    
                <button type="submit" class="btn btn-outline-dark my-2-my-sm-0">Logout</button>
  
           
              </form>
            </div>
          <% } %>
  </nav>
</header>