<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls"><h2>TinyApp</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

        <% if (!username) { %>
        <form class="form-inline" action="/login" method="POST">
              <div class="input-group mb-2">
                <input class="form-control" type="text" name="username" id="username" placeholder="Username" style="margin-right: 1em;">

              <button type="submit" class="btn btn-outline-dark">Login</button>
            </div>
         
        </form>
        <% } else { %>
          <div class="navbar-nav">Logged in as: <%= username %>
            <span class="navbar-text">
            <form class="form-inline" action="/logout" method="POST">
              <div class="input-group mb-2">
  
              <button type="submit" class="btn btn-outline-dark">Logout</button>
            </div>
         
        </form></span></nav>
          <% } %>
      </div>
    </div>
  </div>

      </div>
    </div>
  </nav>
</header>